flask
flask-sqlalchemy
flask-migrate
flask-cors
pydantic
email-validator
pytest
apig-wsgi  
python-dotenv
psycopg2-binary
PyJWT
supabase
requests
gunicorn
gevent
google-auth
google-auth-httplib2
google-auth-oauthlib
