flask
flask-sqlalchemy
flask-migrate
flask-cors
pydantic
email-validator
pytest
apig-wsgi
python-dotenv
psycopg2-binary
PyJWT
supabase
gotrue
requests
gunicorn
gevent
google-auth>=2.20.0
google-auth-oauthlib
